{% extends 'dashboard/base.html' %}


{% block content %}
    {% for field, errors in form_errors %}
	    <h3>{{ field }}</h3>
		{% for error in errors %}
		<p>{{ error }}</p>
		{% endfor %}
	{% endfor %}
    <form action="" method="post">
        <input type="text" name="nombre">
        <input type="text" name="programa_pdf">
        <select name="publico">
            <option value="0">Privado</option>
            <option value="1">Publico</option>
            <option value="2">¡Invalido!</option>
        </select>
        <button>submit</button>
    </form>
    
{% endblock content %}


{% block scripts %}
<script>
    var vm = new Vue({
        mixins: [dashboard_mixin],
        data: function(){
            return {
                active: 'post',
            };
        }
    });
</script>
{% endblock scripts %}
    