RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(public) - [L]

<Files ~ "\.(env|json|config.js|md|gitignore|gitattributes|lock)$">
    Order allow,deny
    Deny from all
</Files>

RewriteRule . index.php [L]